/* ===== NAVBAR ===== */
.navbar {
  background: #005E76;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 7px 20px rgba(0,0,0,.12);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  height: 75px;
}


/* ===== NAV LINKS ===== */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  background: #005E76;
}

/* links */
.nav-links li a , .btn{
  display: block;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
}

/* hover effect */
.nav-links li a:hover , .btn{
  background: rgba(255,255,255,.12);
  color: #ffd9ad;
  transform: translateY(-1px);
}

/* underline animation */
.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 12px;
  width: 0;
  height: 2px;
  background: var(--ocre);
  transition: 0.3s;
}

.nav-links li a:hover::after {
  width: calc(100% - 24px);
}

/* ===== DROPDOWN ===== */


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 220px;

  display: none;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

/* show dropdown */
.dropdown:hover > .dropdown-menu {
  display: flex;
}

/* dropdown items */
.dropdown-menu li a {
  color: var(--text);
  padding: 12px 15px;
  border-radius: 0;
}

.dropdown-menu li a:hover {
  background: var(--ocre-light);
  color: var(--blue-dark);
}

/* ===== LANG BUTTONS ===== */
.btn {
  background: var(--ocre);
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: var(--ocre-dark);
  transform: scale(1.05);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .nav-links li a {
    width: 100%;
  }
}