<!-- <p>page d’accueil works!</p>
<div>

    <app-presentation-crmef></app-presentation-crmef>
    <app-message-directeur></app-message-directeur>
    <app-actualites></app-actualites>
    <app-banniere-dynamique></app-banniere-dynamique>
</div>
      -->

    <main class="main">
    <!-- Hero Section -->

    <section class="hero section dark-background">

    <div class="container">
        <h2>{{ 'hero.eyebrow' | translate }}</h2>

        <p> 
        {{ 'hero.title' | translate }}
       </p>
        <a routerLink="/formations" class="btn-get-started">
          {{ 'header.button1' | translate }}
        </a>
         <a routerLink="/contact" class="btn-get-started">
          {{ 'header.button2' | translate }}
        </a>
    </div>

    </section> 
    <!-- About Section -->
    <section id="about" class="about section">
        <div class="container">
            <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/images/crmef3.jpg" class="img-fluid" alt="CRMEF Marrakech">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>
                            {{ 'presentation.titre' | translate }}
                </h3>
                <p class="fst-italic">
                          {{ 'presentation.descr' | translate }}
                </p>
                <ul>
                <li><i class="bi bi-check-circle"></i> 
                    <span>{{ 'presentation.phrases.p1' | translate }}</span>
                </li>

                <li><i class="bi bi-check-circle"></i> 
                    <span>{{ 'presentation.phrases.p2' | translate }}</span>
                </li>

                <li><i class="bi bi-check-circle"></i> 
                    <span>{{ 'presentation.phrases.p3' | translate }}</span>
                </li>

                <li><i class="bi bi-check-circle"></i> 
                    <span>{{ 'presentation.phrases.p4' | translate }}</span>
                </li>
                </ul>

                <a routerLink="/presentation" class="read-more">
                <span>{{ 'presentation.button' | translate }}</span>
                @if (translate.currentLang == "fr") {
                  <i class="bi bi-arrow-right"></i>
                }@else{
                  <i class="bi bi-arrow-left"></i>
                }
                </a>
                

            </div>

            </div>

        </div>
    </section>
    <!-- /About Section -->

    <!-- Counts Section -->
    <section id="counts" class="section counts ">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
 
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="00" data-purecounter-end="03" data-purecounter-duration="1" class="purecounter"></span>
              <p>{{'stats.1'|translate}}</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter last"></span>
                <p>{{'stats.2'|translate}}</p>
              </div>
          </div><!-- End Stats Item -->
 
          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="00" data-purecounter-end="800" data-purecounter-duration="1" class="purecounter"></span>
              <p>{{'stats.3'|translate}}</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">

                <div class="d-flex justify-content-center align-items-center gap-1">

                <span
                    data-purecounter-start="0"
                    data-purecounter-end="24"
                    data-purecounter-duration="1"
                    class="purecounter">
                </span>

                <span>/</span>

                <span
                    data-purecounter-start="0"
                    data-purecounter-end="7"
                    data-purecounter-duration="1"
                    class="purecounter">
                </span>

                </div>

                <p>{{'stats.4'|translate}}</p>

            </div>
        </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Counts Section -->

   <!-- Actualites Section -->
    <section id="courses" class="courses section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>actualités</h2>
        <p>actualités Récente</p>
      </div><!-- End Section Title -->

      <div class="container"> 

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="assets/images/actualites/actualite1.jpg" class="img-fluid course-img" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">événements</p>
                  <p class="price">6/5/2026</p>
                </div>

                <h3><a routerLink="actualites"> Formation à distance à l’usage du logiciel BIORENDER pour la conception des ressources pédagogiques numériques en Sciences de la Vie & de la Terre dans l’enseignement d’éveil scientifique au Primaire.</a></h3>
                <p class="description">L'enseignement d’éveil scientifique au primaire repose souvent sur des concepts abstraits que les jeunes apprenants peinent à visualiser sans support adéquat....
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="assets/images/actualites/actualite2.jpg" class="img-fluid course-img" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">concours</p>
                  <p class="price">6/5/2026</p>
                </div>

                <h3><a routerLink="actualites">لائحة المترشحات والمترشحين المدعويين لاجتياز الاختبارات الشفوية والعملية لمباراة التبريز تخصص المعلوميات - دورة 2026</a></h3>
                <p class="description">يمكنكم الاطلاع على نتائج الانتقاء عبر الرابط الرسمي لوزارة التربية الوطنية.</p>                         
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="assets/images/actualites/actualite3.jpg" class="img-fluid course-img" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">événements</p>
                  <p class="price">4/5/2026</p>
                </div>

                <h3><a routerLink="actualites"> المعرض الدولي للنشر والكتاب (SIEL)</a></h3>
                <p class="description">
يشهد المعرض الدولي للنشر والكتاب (SIEL) في دورته الـ31 بالرباط، المنعقد في الفترة من 30 أبريل إلى 10 مايو 2026، مشاركة وازنة وقوية للأساتذة المكونين والباحثين بالمركز الجهوي لمهن التربية والتكوين لجهة مراكش - آسفي، تماشياً مع اختيار الرباط عاصمة عالمية للكتاب. حضور بارز للأساتذة الباحثين في اللقاءات العلمية والقراءات الفكرية والثقافية وتتمثل مشاركة *الأستاذ الباحث عمر أوبلا* في دورة 2026 في :
*المغرب المتعدد*
*أسماء الأماكن الأمازيغية : قراءة في المعنى والذاكرة*
الأحد 10 ماي 2026 بقاعة الشريف الادريسي - المعرض الدولي للكتاب، الرباط.
تسهم هذه المشاركات في ترسيخ انفتاح الأساتذة الباحثين بالمركز الجهوي لمهن التربية والتكوين لجهة مراكش - آسفي على محيطهم الثقافي والاجتماعي خلال هذا الحدث الدولي
                </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>

    </section><!-- /Actualites Section -->
      <!-- Accès rapide -->
    <section id="why-us" class="section why-us">

      <div class="container">

        <div class="row gy-4">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Accès</h2>
                <p>Accès rapide</p>
            </div><!-- End Section Title -->
 
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

             <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
               <i class="bi bi-book"></i>
                  <h4>Cours</h4>
                  <p>Téléchargement des supports pédagogiques.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-mortarboard-fill"></i>
                  <h4>Formations</h4>
                  <p>Filières, modules et conditions d’accès.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-newspaper"></i>
                  <h4>Actualités</h4>
                  <p>Annonces officielles et événements.</p>
                </div>
              </div><!-- End Icon Box -->
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-pin-map-fill"></i>
                    <h4>Contact</h4>
                    <p>Adresse, téléphone et formulaire.</p>
                </div>
               </div><!-- End Icon Box -->
            </div>
          </div>
          <div id="features" class="features section">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="features-item">
                    <i class="bi bi-book-half"  style="color: #ffbb2c;"></i>
                    <h3><a routerLink="espace-pedagogique" class="stretched-link">Espace-pedagogique</a></h3>
                  </div>
                </div><!-- End Feature Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="features-item">
                    <i class="bi bi-mortarboard" style="color: #5578ff;"></i>
                    <h3><a routerLink="espace-enseignant" class="stretched-link">Espace-enseignant</a></h3>
                  </div>
                </div><!-- End Feature Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="features-item">
                    <i class="bi bi-backpack" style="color: #e80368;"></i>
                    <h3><a routerLink="espace-etudiant" class="stretched-link">Espace-etudiant</a></h3>
                  </div>
                </div><!-- End Feature Item -->
            </div>
          </div>
        
        </div>

      </div>

    </section><!-- /Accès rapide -->
    
  </main>