<!-- <p>page d’accueil works!</p>
<div>

    <app-presentation-crmef></app-presentation-crmef>
    <app-message-directeur></app-message-directeur>
    <app-actualites></app-actualites>
    <app-banniere-dynamique></app-banniere-dynamique>
</div>
      -->

    <main class="main">
    <!-- Hero Section -->

    <section class="hero section dark-background">

    <div class="container">
        <h2>CRMEF <br> Marrakech-Safi</h2>

        <p>
        Une plateforme institutionnelle moderne pour présenter le centre, ses formations, ses actualités et ses espaces numériques.  
       </p>
        <a routerLink="/formations" class="btn-get-started">
        Découvrir les formations
        </a>
         <a routerLink="/contact" class="btn-get-started">
        Contacter le centre
        </a>
    </div>

    </section> 
    <!-- About Section -->
    <section id="about" class="about section">
        <div class="container">
            <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/images/crmef3.jpg" class="img-fluid" alt="CRMEF Marrakech">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Centre Régional des Métiers de l'Éducation et de la Formation - Marrakech</h3>
                <p class="fst-italic">
                Le CRMEF de Marrakech est un établissement public chargé de la formation initiale et continue des enseignants
                et des cadres du système éducatif au Maroc.</p>
                <ul>
                <li><i class="bi bi-check-circle"></i> 
                    <span>Assurer la formation des futurs enseignants dans différentes disciplines.</span>
                </li>

                <li><i class="bi bi-check-circle"></i> 
                    <span>Développer les compétences pédagogiques et professionnelles des formateurs.</span>
                </li>

                <li><i class="bi bi-check-circle"></i> 
                    <span>Accompagner les enseignants à travers des formations continues et des ateliers de perfectionnement.</span>
                </li>

                <li><i class="bi bi-check-circle"></i> 
                    <span>Contribuer à l’amélioration de la qualité de l’éducation au niveau régional et national.</span>
                </li>
                </ul>

                <a routerLink="/presentation" class="read-more">
                <span>Voir plus</span><i class="bi bi-arrow-right"></i>
                </a>
                

            </div>

            </div>

        </div>
    </section>
    <!-- /About Section -->

    <!-- Counts Section -->
    <section id="counts" class="section counts light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
 
        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="00" data-purecounter-end="08" data-purecounter-duration="1" class="purecounter"></span>
              <p>Rubriques principales</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="00" data-purecounter-end="03" data-purecounter-duration="1" class="purecounter"></span>
              <p>Espaces utilisateurs</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">

                <div class="d-flex justify-content-center align-items-center gap-1">

                <span
                    data-purecounter-start="0"
                    data-purecounter-end="24"
                    data-purecounter-duration="1"
                    class="purecounter">
                </span>

                <span>/</span>

                <span
                    data-purecounter-start="0"
                    data-purecounter-end="7"
                    data-purecounter-duration="1"
                    class="purecounter">
                </span>

                </div>

                <p>Accès aux ressources</p>

            </div>
        </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter last"></span>
              <p>Version statique</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Counts Section -->

   <!-- Actualites Section -->
    <section id="courses" class="courses section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>actualités</h2>
        <p>actualités Récente</p>
      </div><!-- End Section Title -->

      <div class="container"> 

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="assets/images/actualites/actualite1.jpg" class="img-fluid course-img" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">événements</p>
                  <p class="price">6/5/2026</p>
                </div>

                <h3><a routerLink="actualites"> Formation à distance à l’usage du logiciel BIORENDER pour la conception des ressources pédagogiques numériques en Sciences de la Vie & de la Terre dans l’enseignement d’éveil scientifique au Primaire.</a></h3>
                <p class="description">L'enseignement d’éveil scientifique au primaire repose souvent sur des concepts abstraits que les jeunes apprenants peinent à visualiser sans support adéquat....
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="assets/images/actualites/actualite2.jpg" class="img-fluid course-img" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">concours</p>
                  <p class="price">6/5/2026</p>
                </div>

                <h3><a routerLink="actualites">لائحة المترشحات والمترشحين المدعويين لاجتياز الاختبارات الشفوية والعملية لمباراة التبريز تخصص المعلوميات - دورة 2026</a></h3>
                <p class="description">يمكنكم الاطلاع على نتائج الانتقاء عبر الرابط الرسمي لوزارة التربية الوطنية.</p>                         
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="assets/images/actualites/actualite3.jpg" class="img-fluid course-img" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">événements</p>
                  <p class="price">4/5/2026</p>
                </div>

                <h3><a routerLink="actualites"> المعرض الدولي للنشر والكتاب (SIEL)</a></h3>
                <p class="description">
يشهد المعرض الدولي للنشر والكتاب (SIEL) في دورته الـ31 بالرباط، المنعقد في الفترة من 30 أبريل إلى 10 مايو 2026، مشاركة وازنة وقوية للأساتذة المكونين والباحثين بالمركز الجهوي لمهن التربية والتكوين لجهة مراكش - آسفي، تماشياً مع اختيار الرباط عاصمة عالمية للكتاب. حضور بارز للأساتذة الباحثين في اللقاءات العلمية والقراءات الفكرية والثقافية وتتمثل مشاركة *الأستاذ الباحث عمر أوبلا* في دورة 2026 في :
*المغرب المتعدد*
*أسماء الأماكن الأمازيغية : قراءة في المعنى والذاكرة*
الأحد 10 ماي 2026 بقاعة الشريف الادريسي - المعرض الدولي للكتاب، الرباط.
تسهم هذه المشاركات في ترسيخ انفتاح الأساتذة الباحثين بالمركز الجهوي لمهن التربية والتكوين لجهة مراكش - آسفي على محيطهم الثقافي والاجتماعي خلال هذا الحدث الدولي
                </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>

    </section><!-- /Courses Section -->
      <!-- Accès rapide -->
    <section id="why-us" class="section why-us">

      <div class="container">

        <div class="row gy-4">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Accès</h2>
                <p>Accès rapide</p>
            </div><!-- End Section Title -->
 
          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

             <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
               <i class="bi bi-book"></i>
                  <h4>Cours</h4>
                  <p>Téléchargement des supports pédagogiques.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-mortarboard-fill"></i>
                  <h4>Formations</h4>
                  <p>Filières, modules et conditions d’accès.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-newspaper"></i>
                  <h4>Actualités</h4>
                  <p>Annonces officielles et événements.</p>
                </div>
              </div><!-- End Icon Box -->
              <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-pin-map-fill"></i>
                    <h4>Contact</h4>
                    <p>Adresse, téléphone et formulaire.</p>
                </div>
               </div><!-- End Icon Box -->
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

  </main>