<!-- <div>
   
</div>  -->
<main class="main">
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Presentation du CRMEF Marrakech-Safi</h1>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="home">Home</a></li>
            <li class="current">presentation<br></li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <app-historique></app-historique>
    <app-missions-objectifs></app-missions-objectifs>
    <app-organigramme></app-organigramme>
    <app-partenaires></app-partenaires>


  </main>
 