 <footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">CRMEF Marrakech-Safi</span> 
          </a>
          <div class="footer-contact pt-3">
            <p>JXXQ+4P6, Boulevard Al Mouzdalifa</p>
            <p>Marrakech 40000</p>
            <p class="mt-3"><strong>Téléphone :</strong> <span>05 24 29 01 92</span></p>
            <p><strong>Email:</strong> <span>crmefmarrkechsafi@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
           
            <a href="https://share.google/qBIjNG3mT98jMHQSM"><i class="bi bi-facebook"></i></a>
         
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Accès rapide</h4>
          <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="presentation">Présentation</a></li>
            <li><a routerLink="formations">Formation</a></li>
            <li><a routerLink="actualites">Actualités</a></li>
            <li><a routerLink="contact">contact</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Espaces</h4>
          <ul>
            <li><a routerLink="espace-pedagogique">pedagogique</a></li>
            <li><a routerLink="espace-enseignant">Enseignant</a></li>
            <li><a routerLink="espace-etudiant">Etudiant</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Se connecter</h4>
          <p>Vous pouvez désormais accéder à votre espace personnel et consulter les ressources disponibles sur la plateforme.</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">CRMEF Marrakech-Safi</strong> <span>All Rights Reserved</span></p>
      <!-- <div class="credits">
           Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | <a href="https://bootstrapmade.com/tools/">DevTools</a> 
      </div> -->
    </div>

  </footer>