 <footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">{{"footer.title" | translate}} </span> 
          </a>
          <div class="footer-contact pt-3">
            <p>{{"footer.location" | translate}}</p>
            <p>{{"footer.ville" | translate}}</p>
            <p class="mt-3"><strong>{{"footer.tel" | translate}}</strong> <span>05 24 29 01 92</span></p>
            <p><strong>{{"footer.email" | translate}}</strong> <span>crmefmarrkechsafi@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
           
            <a href="https://share.google/qBIjNG3mT98jMHQSM"><i class="bi bi-facebook"></i></a>
         
          </div>
        </div>
 
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{{"footer.Accès-rapide.title" | translate}}</h4>
          <ul>
            <li><a routerLink="home">{{"footer.Accès-rapide.l1" | translate}}</a></li>
            <li><a routerLink="presentation">{{"footer.Accès-rapide.l2" | translate}}</a></li>
            <li><a routerLink="formations">{{"footer.Accès-rapide.l3" | translate}}</a></li>
            <li><a routerLink="actualites">{{"footer.Accès-rapide.l4" | translate}}</a></li>
            <li><a routerLink="contact">{{"footer.Accès-rapide.l5" | translate}}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{{"footer.espaces.title" | translate}}</h4>
          <ul>

            <li><a routerLink="espace-enseignant">{{"footer.espaces.e2" | translate}}</a></li>
            <li><a routerLink="espace-etudiant">{{"footer.espaces.e3" | translate}}</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>{{"footer.connexion.titre" | translate}}</h4>
          <p>{{"footer.connexion.descr" | translate}}</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="{{'footer.connexion.button' | translate}}"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">CRMEF Marrakech-Safi</strong> <span>All Rights Reserved</span></p>
      <!-- <div class="credits">
           Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | <a href="https://bootstrapmade.com/tools/">DevTools</a> 
      </div> -->
    </div>

  </footer>

 